:root {
  --HB-color: #2196f3;
  --BLetters-color: #000000;
  --DGLetters-color: #212121;
  --LGLetters-color: #757575;
  --GBG-color: #2f303a;
  --WLetters-color: #ffffff;
  --WHighlight-color: #f5f4fa;
  --WH2-color: #ececec;
  --PageC-color: #1e1e1e;
  --logoH-color: #000;
  --HWLetters-color: #fff;
  --footer-cont-color: rgba(255, 255, 255, 0.6);
}

.container{
  max-width: 1170px;
  outline: solid var(--LGLetters-color);
  margin: 0 auto;
  
}

.header {
  margin: 0 auto;
  display: flex; 
  outline: solid var(--LGLetters-color);
}

.top_bar {
  margin: 32px 0 32px 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--logoH-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
  margin: 25px 0 24px 0;
  display: block;
  padding-top: 15px;
}

.web {
  color: var(--HB-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  
}

.header-pages {
  list-style: none;
  display: flex;
  gap: 50px;
  
}

.pages {
  color: var(--DGLetters-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.selected {
  color: var(--HB-color);
}

.header-cont {
  list-style: none;
  display: flex;
  margin-left: 294px;
  gap: 50px;
  
}

.contacts {
  color: var(--LGLetters-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  margin: 32px 0 32px 0; 
}

.email {
  color: var(--HB-color);
}

.GB_section {
  background-color: var(--GBG-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /*not too sure how this works, is there a better way to do this? */
}

.opener-title {
  color: var(--HWLetters-color);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0 452px 280px 452px;
  width: 696px;
  display: flex;
  margin-bottom: 10px;
}

.header-button {
  color: var(--HWLetters-color);
  background-color: var(--HB-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  text-decoration: none;
  display: block;
  border: none;
  padding: 10px 32px;
  border-radius: 7px;
}

.chars {
  margin: 94px 0;
}

.char_section {
  max-width: 270px;
}



.characteristics {
  list-style: none;
  display: flex;
  gap: 30px;
}

.char-title {
  color: var(--DGLetters-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.char-description {
  color: var(--LGLetters-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.ex_section {
  margin: 0 auto;
  max-height: 386px;
  max-width: 1170px;
}

.ex_img {
  margin: 0 auto;
}

.title2 {
  color: var(--DGLetters-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.img-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  gap: 25px;
  margin: 7px 0;
  padding: 7px;
}

.team {
  margin: 0 auto;
}

.title3 {
  color: var(--DGLetters-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.team_section {
  max-width: 270px;
  margin: 10px 0;
  text-align: center;
}

.member-name {
  color: var(--DGLetters-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.member-position {
  color: var(--LGLetters-color);
  text-align: center; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.info_footer {
  background-color: var(--GBG-color);
  margin: 5px 0; 
  padding: 5px; 
}

.footer-logo {
  color: var(--HWLetters-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.adress {
  color: var(--HWLetters-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0; 
}

.foot-cont-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  color: var(--footer-cont-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}
