:root {
  --HB-color: #2196f3;
  --BLetters-color: #000000;
  --DGLetters-color: #212121;
  --LGLetters-color: #757575;
  --GBG-color: #2f303a;
  --WLetters-color: #ffffff;
  --WHighlight-color: #f5f4fa;
  --WH2-color: #ececec;
  --PageC-color: #1e1e1e;
  --logoH-color: #000;
  --HWLetters-color: #fff;
  --grey-color: #afb1b8;
  --footer-cont-color: rgba(255, 255, 255, 0.6);
  --ft-socials-color: rgba(255, 255, 255, 0.1);
  --overlay-color: rgba(47, 48, 58, 0.8);
  --light-black-color: rgba(0, 0, 0, 0.1);
  --form-g-color: rgba(33, 33, 33, 0.2);
  --opgrey: rgba(117, 117, 117, 0.5);
}

.container {
  width: 1170px;
  outline: solid var(--LGLetters-color);
  margin: 0 auto;
  padding: 0;
}

.header {
  display: flex;
  outline: solid var(--LGLetters-color);
  height: 80px;

  display: flex;
  align-items: center;
}

.top_bar {
  margin: 32px 0 32px 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--logoH-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
  margin: 25px 0 24px 0;
  display: block;
  padding-top: 15px;
}

.web {
  color: var(--HB-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-pages {
  list-style: none;
  display: flex;
  gap: 50px;
}

.pages {
  color: var(--DGLetters-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.selected {
  color: var(--HB-color);
  position: relative;
}

.selected::after {
  content: "";
  width: 100%;
  height: 4px;

  background-color: var(--HB-color);
  border-radius: 4px;

  position: absolute;
  bottom: -28px;
  left: 0;
}

.header-cont {
  list-style: none;
  display: flex;
  margin-left: 294px;
  gap: 50px;
}

.contacts {
  color: var(--LGLetters-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  /* margin: 32px 0 32px 0; */
  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover {
  color: var(--HB-color);
}

.icon-email {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
  margin-top: 0;
  padding-top: 0;
  vertical-align: middle;
}

.icon-phone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
  margin-top: 0;
  padding-top: 0;
  vertical-align: middle;
}

.back-img {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(
      to bottom,
      rgba(75, 75, 75, 0.5),
      rgba(75, 75, 75, 0.4)
    ),
    url(./images/header-background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.GB_section {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.opener-title {
  color: var(--HWLetters-color);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0 452px 280px 452px;
  width: 696px;
  display: flex;
  margin-bottom: 10px;
}

.header-button {
  color: var(--HWLetters-color);
  background-color: var(--HB-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  text-decoration: none;
  display: block;
  border: none;
  padding: 10px 32px;
  border-radius: 7px;

  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition:
    opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 1000ms,
    visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 1000ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}



.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 15px;
  background-color: white;
  padding: 0;
  transform: translate(-50%, -50%);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}


.close-modal {
  width: 30px;
  height: 30px;

  border: 2px solid var(--light-black-color);
  border-radius: 50%;

  position: fixed;
  top: 0;
  right: 0;

  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 3px;
  padding: 0;

  justify-content: center;
  align-items: center;
}

.close {
  width: 18px;
  height: 18px;
  fill: var(--BLetters-color);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 4px;
  margin-top: 1px;

  cursor: pointer;
}

.close-modal:hover {
  border-color: var(--HB-color);
}

.close-modal:hover .close {
  fill: var(--HB-color);
}

.pop-up-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--DGLetters-color);

  text-align: center;
}

.pop-up-form {
  margin-left: 40px;
}

.form-sub-ttl {
  font-size: 12px;
  font-weight: 400;
  color: var(--LGLetters-color);

  padding: 0;
  margin-top: 10px;
  margin-bottom: 4px;
}

.form-outline {
  width: 448px;
  height: 40px;

  border: 2px solid var(--form-g-color);
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 13px;

  padding: 0;
}

.form-icon {
  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 12px;
  padding: 0;
}

.form-outline:hover {
  border-color: var(--HB-color);
}

.form-outline:hover .person {
  fill: var(--HB-color);
}

.form-outline:hover .phone {
  fill: var(--HB-color);
}

.form-outline:hover .envelope {
  fill: var(--HB-color);
}

.form-inp {
  width: 400px;
  font-size: 14px;

  outline: none;
  border: none;
}

.message-box {
  width: 448px;
  height: 120px;

  border: 2px solid var(--form-g-color);
  border-radius: 5px;
}

.your-message {
  margin: 12px 16px;

  width: 416px;
  height: 96px;
  resize: none;

  font-size: 12px;
  font-weight: 400;
  color: var(--opgrey);

  border: none;
  outline: none;
}

.your-message::placeholder {
  font-size: 12px;
  font-weight: 400;
  color: var(--opgrey);
}

.message-box:hover {
  border-color: var(--HB-color);
}

.message-box:hover .your-message::placeholder {
  color: var(--HB-color);
}

.bot-txt {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.checkbox {
  width: 16px;
  height: 15px;

  margin-right: 4px;
  border: 2px solid var(--DGLetters-color);

  padding: 0;
}

.txt {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03;
  line-height: 24px;
  color: var(--LGLetters-color);

  margin: 0;
  padding: 0;
}

.txt-link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03;
  line-height: 24px;

  margin: 0;
  padding: 0;
}

.btn {
  width: 200px;
  height: 50px;

  color: var(--HWLetters-color);
  background-color: var(--HB-color);

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  border: none;
  padding: 10px 32px;
  border-radius: 7px;
}

.chars {
  margin: 94px 250;
}

.char_section {
  max-width: 270px;
}

.characteristics {
  list-style: none;
  display: flex;
  gap: 30px;
}

.char-title {
  color: var(--DGLetters-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.char-description {
  color: var(--LGLetters-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.char_section:nth-child(1)::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(/images/antenna.svg);
  background-size: cover;
  margin-bottom: 10px;
  background-position: center;
  margin-bottom: 10px;
  margin-left: 80px;
}

.char_section:nth-child(2)::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(images/clock.svg);
  background-size: cover;
  margin-bottom: 10px;
  background-position: center; 
  margin-bottom: 10px;
  margin-left: 80px;
}

.char_section:nth-child(3)::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(images/diagram.svg);
  background-size: cover;
  margin-bottom: 10px;
  background-position: center;
  margin-bottom: 10px;
  margin-left: 80px;
}

.char_section:nth-child(4)::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(images/astronaut.svg);
  background-size: cover;
  margin-bottom: 10px;
  background-position: center;
  margin-bottom: 10px;
  margin-left: 80px;
}

.ex_section {
  margin: 0 auto;
  max-height: 386px;
  max-width: 1170px;
}

.ex_img {
  margin: 0 auto;
}

.title2 {
  color: var(--DGLetters-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.img-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  gap: 25px;
  margin: 7px 0;

  position: relative;

  padding-left: 0;
}

.example-img1 {
  width: 370px;
  height: 294px;
  background-image: url(./images/typing.jpg);
  z-index: 1;

  display: block;
}

.example-img2 {
  width: 370px;
  height: 294px;
  background-image: url(./images/laptop-img.jpg);
  z-index: 1;
}

.example-img3 {
  width: 370px;
  height: 294px;
  background-image: url(./images/hexa-colors.jpg);
  z-index: 1;
}

.black-bg {
  width: 370px;
  height: 70px;

  background-color: var(--overlay-color);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-bottom: 0;

  position: absolute;
  bottom: 0;
  left: 2;
  z-index: 2;
}

.desc {
  color: var(--WLetters-color);
  font-size: 14px;
  font-weight: 700;

  text-transform: uppercase;
  text-align: center;
}

.team {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title3 {
  color: var(--DGLetters-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.team_section {
  max-width: 270px;
  margin: 10px 0;
  text-align: center;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.member-name {
  color: var(--DGLetters-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.member-position {
  color: var(--LGLetters-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 16px 32px 30px 32px;
}

.t-instagram,
.t-twitter,
.t-facebook,
.t-linkedin {
  width: 20px;
  height: 20px;
  fill: var(--grey-color);
  margin: 12px;
}

.bubble {
  width: 44px;
  height: 44px;

  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bubble:hover {
  background-color: var(--HB-color);
  border-radius: 50%;
  cursor: pointer;

  transform: scale(1.05);
}

.bubble:hover .t-instagram {
  fill: var(--HWLetters-color);
  transform: scale(1.05);
}

.bubble:hover .t-twitter {
  fill: var(--HWLetters-color);
  transform: scale(1.05);
}

.bubble:hover .t-facebook {
  fill: var(--HWLetters-color);
  transform: scale(1.05);
}

.bubble:hover .t-linkedin {
  fill: var(--HWLetters-color);
  transform: scale(1.05);
}

.clients {
  margin: 0 auto;
}

.title4 {
  color: var(--DGLetters-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.c-list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-left: 0;
}

.comp {
  width: 170px;
  height: 92px;
  border: 2px solid var(--grey-color);
  border-radius: 6px;
}

.yaco,
.taglinecomp,
.orgcomp,
.foster,
.brand,
.tagline {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: var(--grey-color);

  transition-property: border-color, fill, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comp:hover {
  border-color: var(--HB-color);
  transform: scale(1.1);
}

.comp:hover .yaco {
  fill: var(--HB-color);
  transform: scale(1.1);
}

.comp:hover .taglinecomp {
  fill: var(--HB-color);
  transform: scale(1.1);
}

.comp:hover .orgcomp {
  fill: var(--HB-color);
  transform: scale(1.1);
}

.comp:hover .foster {
  fill: var(--HB-color);
  transform: scale(1.1);
}

.comp:hover .brand {
  fill: var(--HB-color);
  transform: scale(1.1);
}

.comp:hover .tagline {
  fill: var(--HB-color);
  transform: scale(1.1);
}

.bg-color {
  background-color: var(--GBG-color);
  padding-bottom: 0;
  margin-bottom: 0;
}

.info_footer {
  margin: 5px 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.bot-logo {
  margin-top: 50px;
  margin-bottom: 20px;
}

.adress {
  color: var(--HWLetters-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
}

.foot-cont-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  color: var(--footer-cont-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}

.ft-join {
  color: var(--HWLetters-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3%;
  text-transform: uppercase;

  margin-top: 50px;
  margin-bottom: 20px;
}

.team-socials-ft {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.t-instagram2,
.t-twitter2,
.t-facebook2,
.t-linkedin2 {
  width: 20px;
  height: 20px;
  fill: var(--HWLetters-color);
  margin: 12px;
}

.bubble-bg {
  width: 44px;
  height: 44px;
  background-color: var(--ft-socials-color);
  border-radius: 50%;

  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bubble-bg:hover {
  background-color: var(--HB-color);
  border-radius: 50%;
  cursor: pointer;

  transform: scale(1.05);
}

.ft-form {
  display: flex;
  flex-direction: column;
}

.form-ttl {
  font-weight: 700;
  font-size: 14px;
  color: var(--HWLetters-color);
  text-transform: uppercase;

  padding: 0;
  margin: 50px 0 20px 0;
}

.email-btn {
  display: flex;
  gap: 12px;
}

.footer-em {
  width: 358px;
  height: 50px;
  background-color: var(--GBG-color);

  border: 1px solid var(--footer-cont-color);
  border-radius: 6px;

  font-size: 16px;
  font-weight: 400;
}

.footer-email {
  background-color: var(--GBG-color);

  border: none;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  color: var(--HWLetters-color);

  margin: 15px 295px 15px 16px;
}

.ft-sign-up {
  width: 200px;
  height: 50px;

  color: var(--HWLetters-color);
  background-color: var(--HB-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;

  text-decoration: none;
  border: none;
  border-radius: 7px;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.plane {
  width: 24px;
  height: 24px;

  fill: var(--WLetters-color);

  align-items: center;
  justify-content: center;
}

/* portfolio CSS */

.classes {
  width: 602px;
  height: 54px;
  outline: solid var(--LGLetters-color);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.class-list {
  list-style: none;
  display: flex;
  gap: 45px;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}

.classification {
  color: var(--DGLetters-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  display: flex;
  border: none;
  border-radius: 3px;
  /* box-shadow: 3px 2px 1px 1px rgb(189, 187, 187); */

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 73px;
  height: 38px;

  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.classification:hover {
  color: var(--HWLetters-color);
  background-color: var(--HB-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;

  cursor: pointer;

  transform: scale(1.15);
}

.projects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;
}

.samples {
  flex-direction: column;

  width: 370px;
  height: 404px;
  position: relative;

  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.samples:hover .slide-in-bottom{
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;

  transform: scale(1.03);
}

.sample-photo {
  width: 370px;
  height: 294px;

  position: relative;
  z-index: 1;
}

.sample-desc {
  width: 370px;
  height: 294px;

  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3%;
  line-height: 28px;
  color: var(--WLetters-color);

  background-color: var(--HB-color);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 2;
}

.inside-bx {
  width: 322px;
  height: 168px;
  visibility: hidden;
  /* background-color: var(--HB-color); */
}

.samples:hover .sample-desc .slide-in-bottom{
  visibility: visible;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-29 23:36:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.project-title {
  color: var(--DGLetters-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;

  margin: 20px 24px 4px 24px;
}

.project-classification {
  color: var(--LGLetters-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;

  margin-left: 24px;
  padding-bottom: 20px;
}
